# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
venv*/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local launch scripts
launch_StockIQ.bat
